* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 18px;
    line-height: 26px;
    font-family: tahoma, arial, sans-serif;
    color: #000;
    background: #4a4a4a url(images/bg.png) repeat 0 0;
    min-width: 1024px;
}

a { color: #0252aa; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

ol, ul { list-style: none outside none; }

input, textarea, select { font-size: 16px; font-family: tahoma, arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell { width: 1024px; margin: 0 auto; }

#wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto; position: relative; } 

#header { position: fixed; top: 0; left: 0; background: url(images/header-bg.png) repeat-x 0 0; border-bottom: solid 1px #e8e8e8; height: 89px; width: 100%; z-index: 30; }
#header .shell { padding: 13px 24px 0 17px; width: 983px; }
#header .right { padding: 15px 0 0 0; }
#header a.signup-btn { float: right; display: inline; padding: 0 15px; margin-left: 13px; height: 34px; font-size: 18px; line-height: 32px; color: #fff; text-align: center; background: #18c800; border: solid 1px #000000; }
#header a.signup-btn { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: inset -2px -2px 4px 1px #106504; -moz-box-shadow: inset -2px -2px 4px 1px #106504; box-shadow: inset -2px -2px 4px 1px #106504; }
#header a.signup-btn:hover { text-decoration: none; background: #23e509; }
#header a.signup-btn:active { text-decoration: none; -webkit-box-shadow: inset 2px 2px 4px 1px #106504; -moz-box-shadow: inset 2px 2px 4px 1px #106504; box-shadow: inset 2px 2px 4px 1px #106504; }
#header a.login-btn { float: right; display: inline; padding: 0 15px; margin-left: 13px; height: 34px; font-size: 18px; line-height: 32px; color: #3c3c3c; text-align: center; background: #d1d1d1; border: solid 1px #000000; }
#header a.login-btn { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: inset -2px -2px 4px 1px #696969; -moz-box-shadow: inset -2px -2px 4px 1px #696969; box-shadow: inset -2px -2px 4px 1px #696969; } 
#header a.login-btn:hover { text-decoration: none; background: #e4e3e3; }
#header a.login-btn:active { text-decoration: none; -webkit-box-shadow: inset 2px 2px 4px 1px #696969; -moz-box-shadow: inset 2px 2px 4px 1px #696969; box-shadow: inset 2px 2px 4px 1px #696969; }
#header .user-image { position: relative; margin: -7px 0 0 0; float: right; display: inline; border: solid 1px #000; height: 64px; padding-bottom: 3px; }
#header .user-image .anchor { display: block; text-align: right; padding: 7px 0 0 0; }
#header .user-image .dd { display: none; position: absolute; top: 74px; right: 0; width: 151px; padding: 5px 0; background: #fff; border: solid 1px #7d7d7d; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
#header .user-image .dd { box-shadow: #2e2d2d 1px 1px 3px; -webkit-box-shadow: #2e2d2d 1px 1px 3px; -moz-box-shadow: #2e2d2d 1px 1px 3px; }
#header .user-image .dd ul li { line-height: 28px; font-size: 14px; color: #000; display: block; }
#header .user-image .dd ul li a { color: #000; padding: 0 10px; font-weight: normal; display: block; }
#header .user-image .dd ul li a:hover { text-decoration: none; background: #60a6bf; }

h1#logo { width: 390px; float: left; display: inline; }
h1#logo a { display: block; background: url(images/logo.png) no-repeat 0 0; height: 59px; }
h1#logo a:hover { background-position: 0 bottom; }

#container { position: absolute; top: 111px; left: 50%; right: 0; bottom: 70px; margin-left: -337px; width: 848px; }

.signup-box { background: url(images/signup-bg.jpg) no-repeat 0 0; width: 650px; padding: 35px 0 25px 0; margin: 98px 0 0 5px; text-align: center; border: solid 1px #000; }
.signup-box { box-shadow: #000 0 0 10px; -webkit-box-shadow: #000 0 0 10px; -moz-box-shadow: #000 0 0 10px; }
.signup-box h2 { font-size: 72px; line-height: 72px; font-weight: normal; padding: 0 0 80px 0; }
.signup-box a.signup-btn { font-size: 36px; line-height: 50px; display: inline-block; height: 55px; margin: 75px 0 0 0; padding: 0 16px 0 19px; color: #fff; text-align: center; background: #18c800; border: solid 1px #000; }
.signup-box a.signup-btn  { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: inset -2px -2px 4px 1px #106504; -moz-box-shadow: inset -2px -2px 4px 1px #106504; box-shadow: inset -2px -2px 4px 1px #106504; }
.signup-box a.signup-btn:hover { text-decoration: none; background: #23e509; }
.signup-box a.signup-btn:active { text-decoration: none; -webkit-box-shadow: inset 2px 2px 4px 1px #106504; -moz-box-shadow: inset 2px 2px 4px 1px #106504; box-shadow: inset 2px 2px 4px 1px #106504; }
.signup-box .upload-box { padding: 10px 9px 16px 9px; background: #fff; border: solid 1px #b2b2b2; width: 352px; margin: 0 auto; text-align: left; color: #4c4c4c; display: none; }
.signup-box .upload-box p { padding: 7px 0; }
.signup-box .upload-box .submit-btn { margin: 21px 0 0 0; float: right; display: inline; font-size: 18px; line-height: 34px; display: inline-block; height: 34px; padding: 0 14px 3px 14px; color: #fff; text-align: center; background: #18c800; cursor: pointer; }
.signup-box .upload-box .submit-btn { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: inset -2px -2px 4px 1px #106504; -moz-box-shadow: inset -2px -2px 4px 1px #106504; box-shadow: inset -2px -2px 4px 1px #106504; border: solid 1px #000; }
.signup-box .upload-box .submit-btn:hover { text-decoration: none; background: #23e509; }
.signup-box .upload-box .submit-btn:active { text-decoration: none; -webkit-box-shadow: inset 2px 2px 4px 1px #106504; -moz-box-shadow: inset 2px 2px 4px 1px #106504; box-shadow: inset 2px 2px 4px 1px #106504; }

#file { width: 350px; height: 30px; color: #4c4c4c; }

#content { position: relative; background: #fff; border: solid 1px #606060; border-bottom: 0; min-height: 100%; height: auto !important; height: 100%; z-index: 20; }
#content { box-shadow: #000 0 0 6px; -webkit-box-shadow: #000 0 0 6px; -moz-box-shadow: #000 0 0 6px; border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; }

#sidebar { width: 175px; position: absolute; left: -175px; top: 14px; z-index: 10; }

#navigation { background: #eaeaea url(images/nav-bg.png) repeat-x 0 0; padding: 9px 22px; margin: 46px 0 0 0; -webkit-box-shadow: inset 1px 1px 2px 1px #848383; -moz-box-shadow: inset 1px 1px 42px 1px #848383; box-shadow: inset 1px 1px 2px 1px #848383; }
#navigation ul li { display: block; font-size: 18px; line-height: 26px; }
#navigation ul li a { display: block; color: #000000; padding: 0 0 0 16px; }
#navigation ul li a:hover { text-decoration: none; }
#navigation ul li a.activity-link:hover { background: url(images/nav-activity-hover.png) no-repeat 0 center; }
#navigation ul li a.you-link:hover { background: url(images/nav-you-hover.png) no-repeat 0 center; }
#navigation ul li a.goals-link:hover { background: url(images/nav-goals-hover.png) no-repeat 0 center; }
#navigation ul li a.all-link:hover { background: url(images/nav-all-hover.png) no-repeat 0 center; }
#navigation ul li a.active { font-weight: bold; }
#navigation ul li a.active:hover { background: none; }

#search { position: absolute; left: -168px; top: 13px; z-index: 21; }
#search input.field { font-size: 14px; color: #b0b0b0; width: 139px; padding: 6px 8px 7px 8px; background: #fff; border: solid 1px #7d7d7d; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
#search .complete-dd { display: none; position: absolute; top: 32px; left: 0; padding: 10px 0 0 0; background: #fff; border: solid 1px #7d7d7d; }
#search .complete-dd { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width: 290px; box-shadow: #2e2d2d 1px 1px 3px; -webkit-box-shadow: #2e2d2d 1px 1px 3px; -moz-box-shadow: #2e2d2d 1px 1px 3px; }
#search .complete-dd ul { padding: 0 0 15px 0; }
#search .complete-dd ul li { line-height: 28px; font-size: 14px; color: #000; display: block; }
#search .complete-dd ul li span { padding: 0 8px; font-weight: bold; }
#search .complete-dd ul li a { color: #000; padding: 0 8px; font-weight: normal; display: block; }
#search .complete-dd ul li a:hover { text-decoration: none; background: #60a6bf; }

.user-image { float: left; display: inline; width: 50px; height: 50px; padding: 7px; border: solid 1px #606060; background: #fff; position: relative; margin-right: 13px; margin-bottom: -16px; }
.user-image { border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }

.head { position: relative; z-index: 22; background: #eaeaea; border-bottom: solid 1px #606060; border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; height: 49px; padding: 5px 11px 0 13px; }
.head .name { font-size: 26px; line-height: 26px; float: left; display: inline; padding: 12px 37px 0 0; font-weight: bold; }
.head .date { float: left; display: inline; padding: 12px 10px 0 0; font-size: 26px; line-height: 26px; color: #4c4c4c; }
.head .date a { color: #4c4c4c; }
.head .date a:hover { text-decoration: none; font-weight: bold; }
.head .nav { margin: 7px 0 0 0; height: 31px; float: right; display: inline; border: solid 1px #606060; border-right: 0; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.head .nav a { padding: 0 10px; float: left; display: inline; font-size: 18px; line-height: 31px; color: #4c4c4c; background: #f3f3f3; border-right: solid 1px #606060; }
.head .nav a { border-radius: 0 3px 3px 0; -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; }
.head .nav a.first { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
.head .nav a:hover { text-decoration: none; background: #ADDFFF; }
.head .nav a.active { background: #60a6bf; color: #fff; }

.scrollarea { width: 100%; height: 165px; overflow: auto; position: relative; z-index: 20; }

.case { padding: 3px 15px 15px 21px; }
.case a { color: #214390; }
.goals { padding-left: 51px; }
.boxes { padding: 23px 11px 35px 14px; }

.post .user-name { margin-right: 10px; margin-bottom: 0; }
.post .cnt { float: left; display: inline; width: 642px;  }
.post .post-title { padding: 0 0 3px 0; font-size:16px}
.post .quote-image-good { float: left; display: inline; padding: 0 10px; font-size: 30px; line-height: 40px; color: #fff; border: solid 1px #1c9900; background: #4abf30; margin-right: 13px; }
.post .quote-image-good { box-shadow: #222222 2px 2px 3px; -webkit-box-shadow: #222222 2px 2px 3px; -moz-box-shadow: #222222 2px 2px 3px; }
.post .quote-image-bad { float: left; display: inline; padding: 0 10px; font-size: 30px; line-height: 40px; color: #fff; border: solid 1px #990000; background: #bf3030; margin-right: 13px; }
.post .quote-image-bad { box-shadow: #222222 2px 2px 3px; -webkit-box-shadow: #222222 2px 2px 3px; -moz-box-shadow: #222222 2px 2px 3px; }
.post .quote { float: left; display: inline; width: 516px; padding: 5px 0 0 33px; background: url(images/quote-top.png) no-repeat 0 8px; color: #4c4c4c; }
.post .quote p { padding: 0 38px 0 0; background: url(images/quote-bottom.png) no-repeat right bottom; margin-bottom: 10px; font-size:14px;}
.post .time { display: block; text-align: right; font-size: 12px; line-height:18px}

.post .result-image-good { float: left; display: inline; padding: 0 16px; font-size: 48px; line-height: 72px; color: #fff; border: solid 1px #1c9900; background: #4abf30; margin-right: 16px; }
.post .result-image-good { box-shadow: #222222 2px 2px 3px; -webkit-box-shadow: #222222 2px 2px 3px; -moz-box-shadow: #222222 2px 2px 3px; }
.post .result-image-bad { float: left; display: inline; padding: 0 16px; font-size: 48px; line-height: 72px; color: #fff; border: solid 1px #990000; background: #bf3030; margin-right: 16px; }
.post .result-image-bad { box-shadow: #222222 2px 2px 3px; -webkit-box-shadow: #222222 2px 2px 3px; -moz-box-shadow: #222222 2px 2px 3px; }
.post .result-image .sub { font-size: 24px; line-height: 24px; }
.post .result { width: 260px; float: left; display: inline; }
.post .result p { padding: 0 0 10px 0; }

.score .text { float: left; display: inline; width: 777px; padding: 0 47px 0 8px; min-height:100px; }
.score .text p { padding: 0 0 10px 0; }
.score .text a.btn { float: right; display: inline; padding: 0 10px; line-height: 29px; font-size: 16px; color: #fff; text-align: center; background: #18c800; border: solid 1px #108700; }
.score .text a.btn { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: inset -2px -2px 4px 1px #106504; -moz-box-shadow: inset -2px -2px 4px 1px #106504; box-shadow: inset -2px -2px 4px 1px #106504; }
.score .text a.btn:hover { text-decoration: none; background: #23e509; }
.score .text a.btn:active { text-decoration: none; -webkit-box-shadow: inset 2px 2px 4px 1px #106504; -moz-box-shadow: inset 2px 2px 4px 1px #106504; box-shadow: inset 2px 2px 4px 1px #106504; }
.score .results { width:600px; display: block; padding: 0px 0 0 0; }
.score .results ul li { float: left; display: inline; padding: 0 20px 0 0; width: 250px; text-align: center;  }
.score .results ul li.last { padding: 0; }
.score .results p.res-box span { font-size: 60px; line-height: 72px; color: #000000; background: #f3f3f3; border: solid 1px #868686; padding: 0 20px; }
.score .results p.res-box span { box-shadow: #222222 2px 2px 3px; -webkit-box-shadow: #222222 2px 2px 3px; -moz-box-shadow: #222222 2px 2px 3px; }
.score .results p.label { padding: 10px 0 0 0; }

.cols { padding: 0 0 30px 0; position: relative; margin-left: -44px; font-size:15px;}
.cols p { padding: 0 0 10px 20px; font-size:18px; }
.cols .col { float: left; display: inline; width: 215px; padding: 0 0 0 44px; margin-bottom: 30px; border-right: solid 1px #dedede; }
.cols .last-col { border: 0; }

.form p { padding: 0 0 10px 0; }
.form label { float: left; display: inline; width: 115px; font-size: 18px; line-height: 32px; color: #4c4c4c; }
.form label.small-label { float: left; display: inline; width: 115px; font-size: 15px; line-height: 26px; color: #707070; }
.form input.field { float: left; display: inline; width: 151px; height: 30px; padding: 0 5px; line-height: 30px; margin: 0 0 13px 0; background: #fff; border: solid 1px #7d7d7d; }
.form input.field { border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; box-shadow: #b2b1b1 0 0 3px; -webkit-box-shadow: #b2b1b1 0 0 3px; -moz-box-shadow: #b2b1b1 0 0 3px; }
.form input.small-field { float: left; display: inline; width: 151px; height: 25px; padding: 0 5px; line-height: 25px; margin: 0 0 10px 0; background: #fff; border: solid 1px #7d7d7d; }
.form input.small-field { border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; box-shadow: #b2b1b1 0 0 2px; -webkit-box-shadow: #b2b1b1 0 0 2px; -moz-box-shadow: #b2b1b1 0 0 2px; }
.form textarea { float: left; display: inline; padding: 2px 5px; margin: 0 0 13px 0; background: #fff; border: solid 1px #7d7d7d; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; width: 611px; height: 60px; }
.form textarea { box-shadow: #b2b1b1 0 0 3px; -webkit-box-shadow: #b2b1b1 0 0 3px; -moz-box-shadow: #b2b1b1 0 0 3px; }
.form input.add-btn { padding: 0 10px 3px 10px; height: 29px; line-height: 29px; font-size: 16px; color: #444444; text-align: center; background: #d1d1d1; border: solid 1px #6e6e6e; cursor: pointer; }
.form input.add-btn { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: inset -2px -2px 4px 1px #a09e9e; -moz-box-shadow: inset -2px -2px 4px 1px #a09e9e; box-shadow: inset -2px -2px 4px 1px #a09e9e; }
.form input.add-btn:hover { text-decoration: none; background: #e4e3e3; }
.form input.add-btn:active { text-decoration: none; -webkit-box-shadow: inset 2px 2px 4px 1px #696969; -moz-box-shadow: inset 2px 2px 4px 1px #696969; box-shadow: inset 2px 2px 4px 1px #696969; }
.form input.small-add-btn { padding: 0 6px 4px 4px; height: 18px; line-height: 16px; font-size: 13px; color: #444444; text-align: center; background: #d1d1d1; border: solid 1px #6e6e6e; cursor: pointer; }
.form input.small-add-btn { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: inset -1px -1px 2px 1px #a09e9e; -moz-box-shadow: inset -1px -1px 2px 1px #a09e9e; box-shadow: inset -1px -1px 2px 1px #a09e9e; }
.form input.small-add-btn:hover { text-decoration: none; background: #e4e3e3; }
.form input.small-add-btn:active { text-decoration: none; -webkit-box-shadow: inset 2px 2px 4px 1px #696969; -moz-box-shadow: inset 2px 2px 4px 1px #696969; box-shadow: inset 2px 2px 4px 1px #696969; }

.users { padding: 0 20px; }
.users p { font-weight: bold; text-transform: uppercase; padding: 10px 0; margin: 0 0 16px 0; display: block; border-bottom: solid 1px #dedede; color: #4c4c4c; }
.users .card { padding: 6px 17px 17px 6px; margin: 0 12px 11px 0; float: left; display: inline; background: #f3f3f3; border: solid 1px #868686; box-shadow: #222222 2px 2px 3px; -webkit-box-shadow: #222222 2px 2px 3px; -moz-box-shadow: #222222 2px 2px 3px; }
.users .card .user-image { margin-bottom: 0; }
.users .card .info { float: left; display: inline; line-height: 22px; }
.users .card span { display: block; font-size: 14px; line-height: 20px; color: #4e4e4e; width: 110px; }

.status-message-good { display: block; padding: 7px 16px 10px 11px; margin: 0 0 16px 0; background:#FFFFCC;  border:solid 1px #DEDEDE; box-shadow: #222222 2px 2px 3px; -webkit-box-shadow: #222222 2px 2px 3px; -moz-box-shadow: #222222 2px 2px 3px; }
.status-message-bad { display: block; padding: 7px 16px 10px 11px; margin: 0 0 16px 0; background:#DF8B8B;  border:solid 1px #9C5C5C; box-shadow: #222222 2px 2px 3px; -webkit-box-shadow: #222222 2px 2px 3px; -moz-box-shadow: #222222 2px 2px 3px; color:#222222;}

.box { display: block; width:784px; padding: 7px 7px 10px; margin: 0 0 16px 0; background: #f3f3f3; border: solid 1px #868686; box-shadow: #222222 2px 2px 3px; -webkit-box-shadow: #222222 2px 2px 3px; -moz-box-shadow: #222222 2px 2px 3px; }
.box .fitness { padding: 0 18px 0 0; border-right: solid 1px #dedede; text-align: center; float: left; }
.box .fitness a.title { display: block; font-size: 16px; line-height:26px; }
.box .fitness .number { padding: 0 15px; font-size: 28px; line-height: 44px; position: relative; background: #fff; border: solid 1px #d0d0d0; }
.box .fitness .number .add { position: absolute; right: -8px; bottom: -1px; width: 17px; height: 17px; display: block; background: url(images/add-btn.png) no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4000px; }
.box .tests { float: left; display: inline; padding: 0 0px 0 4px; }
.box .tests .row { padding: 4px 0; }
.box .tests .row .dailies { display:none; }
.box .tests .row label { background: #fff; width: 42px; height: 42px; border: solid 1px #868686; float: left; display: inline; margin-right: 7px; cursor: pointer; }
.box .tests .row label.checked { background: white url(images/check.png) no-repeat 0 0; }
.box .tests .test-cnt { float: left; display: inline; padding: 0 0 0 7px; font-size: 11px; line-height: 11px; }
.box .tests .test-cnt p { padding: 0 0 5px 0; }
.box .tests .test-cnt .scale { border: solid 1px #868686; border-left: 0; }
.box .tests .test-cnt ul li { display: inline; float: left; border-left: solid 1px #868686; }
.box .tests .test-cnt ul li a { float: left; width: 15px; height: 12px; background: #fff; font-size: 0; line-height: 0; text-indent: -4000px; }
.box .placeholder { padding: 16px 0 0 0; float: right; display: inline; }
.box .placeholder .image { border: solid 1px #868686; width: 200px; height: 40px; }
.box .placeholder .image img { display: block; }

.box .dd-row { display: none; padding: 10px 0 0 0; }
.box .dd-row label { font-size: 11px; line-height: 20px; color: #4c4c4c; float: left; display: inline; padding: 0 12px 0 0; }
.box .dd-row select { float: left; display: inline; border: solid 1px #b2b2b2; padding: 0 0 0 2px; text-align: center; font-size:13px;}
.box .dd-row textarea { float: left; display: inline; width: 400px; height: 36px; padding: 5px; font-size: 11px; line-height: 15px; background: #fff; border: solid 1px #7d7d7d; }
.box .dd-row textarea  { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; box-shadow: #b2b1b1 0 0 1px; -webkit-box-shadow: #b2b1b1 0 0 1px; -moz-box-shadow: #b2b1b1 0 0 1px; }
.box .dd-row .left { width: 150px; }
.box .dd-row .right-side { width: 500px; display:inline; }
.box .dd-row .newscore-row { padding: 0 0 8px 0; }
.box .dd-row .newscore-row label { width: 65px; }
.box .dd-row .newscore-row input.field { float: left; display: inline; width: 24px; height: 20px; font-size: 11px; padding: 0 3px; color: #4c4c4c; background: #fff; border: solid 1px #7d7d7d; }
.box .dd-row .newscore-row input.field { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; box-shadow: #b2b1b1 0 0 1px; -webkit-box-shadow: #b2b1b1 0 0 1px; -moz-box-shadow: #b2b1b1 0 0 1px; }
.box .dd-row .grade-row label { width: 75px; }
.lightbox-panel .newscore-row { padding: 0 0 8px 0; }
.lightbox-panel .newscore-row label { width: 65px; }
.lightbox-panel .newscore-row input.field { float: left; display: inline; width: 24px; height: 20px; font-size: 11px; padding: 0 3px; color: #4c4c4c; background: #fff; border: solid 1px #7d7d7d; }
.lightbox-panel .newscore-row input.field { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; box-shadow: #b2b1b1 0 0 1px; -webkit-box-shadow: #b2b1b1 0 0 1px; -moz-box-shadow: #b2b1b1 0 0 1px; }
.lightbox-panel .grade-row label { width: 75px; }




.kpi{ font-size:18px; border-top: 1px solid #A8DCAF; border-right: 1px solid #A8DCAF; border-left: 1px solid #A8DCAF; padding:2px; background: #CDFFD4; margin-top:15px; }
.kpi_box{ font-size:18px; border: 2px solid #999999; padding:2px; background: #826D8C; margin-top:15px; width:320px; float:left; margin-left:5px; }
.kpi_tests{ font-size:14px; background: #E2FFE6; padding-left: 15px; margin: 0 8px 0 8px;}										
.strategies{ font-size:18px; border: 2px solid #999999; padding:2px; background: #55647B; margin-top:15px; width:320px; float:left; }
.five_friends { margin-top:165px;}
.adopt-goal-btn { margin: 40px 0 20px 0; float: right; display: inline; font-size: 40px; line-height: 39px; display: inline-block; height: 60px; width:360px; padding: 0 14px 3px 14px; color: #fff; text-align: center; background: #18c800; cursor: pointer; box-shadow: #000 0 0 10px; -webkit-box-shadow: #000 0 0 10px; -moz-box-shadow: #000 0 0 10px; }
.remove-goal-btn { margin: 10px auto 10px auto; display: block; font-size: 20px; line-height: 19px; display: inline-block; height: 30px; width:250px; padding: 0 14px 3px 14px; color: #fff; text-align: center; background: #A33D3D; cursor: pointer; box-shadow: #000 0 0 4px; -webkit-box-shadow: #000 0 0 4px; -moz-box-shadow: #000 0 0 4px; }
.remove_goal {margin: 30px auto 1px auto; width: 400px; height: 40px;}
.up-down {margin: 10px 0px 10px 0px;}
.goal_desc_box { border: 2px solid #9FCBA5; background: #E2FFE6; padding-left: 15px; margin: 10px auto 10px auto; width:550px;}
.deactivate { font-size: 9px; }
.delete { font-size: 9px; }


.show_kpi_input { font-size: 9px; color:white; font-weight: bold;}
.remove_kpi_input { font-size: 9px; color:white; font-weight: bold;}
.strategy_boxes { background: none repeat scroll 0 0 #E2FFE6;}
.show_strategy_input { font-size: 9px; color:white; font-weight: bold;}
.remove_strategy_input { font-size: 9px; color:white; font-weight: bold;}
.reporting_select {font-size:18px; border: 2px solid #9FCBA5; background: #E2FFE6; padding-left: 15px; margin: 10px auto 10px auto; display:none; width:550px;}
.edit_goal_params {background:green; color: white; height:20px; padding:10px; display:none;}


.all_kpis { background: #FAFAFA; float:left; overflow:auto; max-height:400px; width: 678px; margin-bottom:30px; border: 1px solid #E8E8E8; padding: 5px;}
.kpi_headings { float:left;}
.choose_kpi_heading {font-weight:bold; color:white; padding:10px; float: left; height: 26px; width: 325px; background: #826D8C; margin-left:5px;}
.chosen_kpis {background:green; color: white; height:26px; padding:10px; font-weight:bold; float:left; width:300px; margin-left:10px;}
.score .kpi_results { font-size:14px; min-width: 310px; max-width: 310px;  margin-left:10px; float:left; min-height:1px; margin-right:10px;}
.habit_label {color:#222; line-height:18px; width:244px; float:left; font-size:14px; margin-right: 5px; border: 1px dotted #B2A100; background: none repeat scroll 0 0 #FFF8DD; padding:2px 4px 11px 8px; min-height:28px;}
.tactic_label {color:#444; line-height:15px; float:left; font-size:12px; margin-right: 5px; padding:0px 2px 4px 5px; max-height:31px; min-height:31px; margin-left:10px; min-width:740px;}
.kpi_label {color:#444; line-height:15px; float:left; font-size:12px; margin-right: 5px; padding:0px 2px 4px 5px; max-height:31px; min-height:31px; min-width:735px;}
.todo_label {color:#444; line-height:15px; float:left; font-size:12px; margin-right: 5px; padding:0px 2px 4px 5px; max-height:31px; min-height:31px; min-width:735px;}
.adopt_todo_label {color:#444; line-height:15px; float:left; font-size:12px; margin-right: 0px; padding:0px 2px 4px 5px; max-height:31px; min-height:31px; min-width:645px;}
.user_page_items { margin-top:15px; padding:10px; background: #fbfbfb; border: 2px dotted #e2e2e2;}
.user_page_sub_title { font-size:15px; color: #777; margin-bottom:5px; display: inline-block;}
.no_todo_elements {  font-size:13px; color: #999; display: inline-block; }
.no_habit_elements {  font-size:13px; color: #999; display: inline-block; }
.no_tactic_elements {  font-size:13px; color: #999; display: inline-block; }
.no_kpi_elements {  font-size:13px; color: #999; display: inline-block; }
.editLink { font-size:11px; color: #999;}
.editLinkRemove {  -webkit-border-radius: 99px; -moz-border-radius: 99px; border-radius: 99px; behavior: url(PIE.htc); width: 9px; height: 19px; padding: 0px 5px 0px 6px; background: #f6f6f6; border: 1px solid #c3c3c3; color: #c3c3c3; text-align: center; font: 15px Arial, sans-serif; }
.small_lock_goal_page { float:right; margin-right:5px;} 
.large_lock_goal_page { margin-right:5px; position: relative; top: 4px;} 

.goals_section { border: 1px solid #999; min-height:200px; margin-bottom: 25px; margin-left:30px; max-width:750px; margin-top: 25px; box-shadow: 2px 2px 2px #888; background: #f6f6f6;}
.other_goals_section { border: 1px solid #fff; min-height:200px; margin-bottom: 10px; margin-left:30px; max-width:750px; margin-top: 10px; background: #fff;}
.add_habit { color:#888 !important; font-size:12px; text-decoration: none !important; margin-left:5px; }
.goal_list { margin-left:20px; margin-right: 5px; float:left; min-width:195px; min-width:225px; max-width:225px; font-size:15px;}
.adopted_strategies { margin-top:2px; margin-bottom:2px;  color:#444; line-height:15px; float:left; font-size:12px; margin-right: 5px; padding:0px 2px 4px 5px; margin-left:10px; min-width:740px; }
.adopted_strategies span { display:inline-block; }
.adoptable_strategies { background:none repeat scroll 0 0 #FFFFFF; border:1px dotted #777777; margin:25px; padding: 20px; }
.strategy_dropdown { -webkit-appearance: button; -webkit-border-radius: 2px;  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);  -webkit-padding-end: 20px;  -webkit-padding-start: 2px; -webkit-user-select: none; background-image: url(../images/select-arrow.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);  background-position: center right;  background-repeat: no-repeat; border: 1px solid #AAA; color: #555;  font-size: inherit;  margin: 0;  overflow: hidden;  padding-top: 2px;  padding-bottom: 2px;  text-overflow: ellipsis;  white-space: nowrap; position:relative; bottom: 13px; }

.all_strategies { background: #FAFAFA; float:left; overflow:auto; max-height:400px; width: 678px; margin-bottom:30px; border: 1px solid #E8E8E8; padding: 5px;}
.strategy_headings { float:left;}
.choose_strategy_heading {font-weight:bold; color:white; padding:10px; float: left; height: 26px; width: 325px; background: #55647B; margin-left:5px;}
.chosen_strategies {background:green; color: white; height:26px; padding:10px; font-weight:bold; float:left; width:300px; margin-left:10px;}
.score .strategy_results { font-size:14px; min-width: 310px; max-width: 310px; margin-left:10px; float:left; min-height:1px; margin-right:10px;}
.habit_title { margin-left:5px;}
.habit_title a { color: #555;}
.habit_title .goal_level { -webkit-border-radius: 99px; -moz-border-radius: 99px; border-radius: 99px; behavior: url(PIE.htc); width: 36px; height: 36px; padding: 0px 5px 0px 6px; background: #fff; border: 1px solid #777; color: #777; text-align: center; font: 18px Arial, sans-serif; }
.close_window { -webkit-border-radius: 99px; -moz-border-radius: 99px; border-radius: 99px; behavior: url(PIE.htc); width: 12px; height: 22px; padding: 0px 5px 0px 6px; background: #B94141; border: 1px solid #999; color: white !important; text-decoration: none !important; text-align: center; font: 18px Arial, sans-serif; float: right;}
.new_level { float:left; margin-right:10px; position:relative; bottom:3px; font-size:16px; color:#444;}
.new_tactic { float:left; margin-right:10px; position:relative; bottom:3px; font-size:16px; color:#444; margin-bottom:10px;}
.new_tactic_privacy { clear:both; margin-right:10px; position:relative; bottom:3px; font-size:16px; color:#444; margin-bottom:10px;}
.new_tactic_privacy span { font-size:12px; font-weight:bold;  }
.new_habit { float:left; margin-right:10px; position:relative; bottom:3px; font-size:16px; color:#444; margin-bottom:10px;}
.optional_input { color: #888; font-size: 14px; margin-left:5px; }

.add_goal_comment { float:right; behavior: url(PIE.htc); width: 15px; height: 14px; padding: 1px 1px 1px 1px; background: #e3e3e3; border: 1px #999 dotted; color: #777 !important; font-weight:bold; text-align: center; font: 23px Arial,sans-serif; position:relative; top:5px; line-height:13px; margin-left:2px; display:inline-block; text-decoration:none !important;}
.lightbox { display:none; background:#000000; opacity:0.9; filter:alpha(opacity=90); position:absolute; top:0px; left:0px; min-width:100%; min-height:100%; z-index:1000; }
.lightbox-panel { display:none; position:fixed; top:200px; left:50%; margin-left:-200px; width:400px; background:#f4f4f4; padding:10px 15px 10px 15px; border:10px solid #555; z-index:1001; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; behavior: url(PIE.htc); box-shadow: 2px 2px 4px #222222;}
.text_input { width:180px;  }


#footer { position: fixed; bottom: 0; left: 0; height: 69px; background: #000; border-top: solid 1px #e8e8e8; width: 100%; z-index: 30; }
#footer .shell { padding: 18px 17px 0 30px; width: 977px; }
#footer .nav { float: left; display: inline; font-size: 18px; line-height: 20px; color: #fff; }
#footer .nav a { color: #ffffff; }
#footer .nav span { padding: 0 10px; }
#footer a.entry-btn { float: right; display: inline; padding: 0 17px; margin-left: 13px; height: 34px; font-size: 18px; line-height: 32px; color: #fff; text-align: center; background: #18c800; border: solid 1px #000000; }
#footer a.entry-btn { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: inset -2px -2px 4px 1px #106504; -moz-box-shadow: inset -2px -2px 4px 1px #106504; box-shadow: inset -2px -2px 4px 1px #106504; }
#footer a.entry-btn:hover { text-decoration: none; background: #23e509; }
#footer a.entry-btn:active { text-decoration: none; -webkit-box-shadow: inset 2px 2px 4px 1px #106504; -moz-box-shadow: inset 2px 2px 4px 1px #106504; box-shadow: inset 2px 2px 4px 1px #106504; }
